*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background: radial-gradient(circle at center, yellow, brown)
}

h2{
    color: rgb(77, 34, 4);
    font-family: sans-serif;
    margin-bottom: 25px;
    text-align: center;
}
.container{
    /* height: 80vh; */
    /* max-height: 100vh; */
    width: 100%;
    max-width: 400px;
    border: 3px solid rgb(165, 120, 72);
    /* display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 0px; */
    border-radius: 20px;
    padding: 30px 20px;
    background-color: rgba(238, 230, 230, 0.9);
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
    
    }

    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    #text{
        color:rgb(102, 4, 194);
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #from{
        color: rgb(4, 121, 107);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #to{
        color: rgb(4, 121, 107);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    .dropdown{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        

    }
    .select-container select{
        background-color: rgb(243, 159, 3);
        border: none;
        color: rgb(54, 12, 12);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 8px 20
        ;
        border-radius: 5px;
        width: 60%;
        text-align: center;
    }

    #input{
        border-radius: 200px;
        background-color: rgb(138, 109, 109);
        width: 80%;
        color: rgb(225, 220, 220);
        font-weight: 450;
        padding: 10px;
        text-align: center;
        border: none;
    }

    .msg{
        color: rgb(127, 8, 132);
        font-family: sans-serif;
        margin-top: 5px;
        font-weight: bold;
    }

    #btn{
        background-color: rgb(9, 126, 236);
        border: none;
        color: rgb(242, 236, 239);
        font-family: sans-serif;
        width: 80%;
        border-radius: 5px;
        padding: 12px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s;
    }

    #btn:hover{
        background-color: rgb(209, 236, 9);
        color: black;
    }

    